@import '../libs/normalize.css';
@import './reset';
@import './vars';
@import './mixins';

/* /. imports */

html {
    font-size: $font-size;
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    color: $dark-color;
    font-family: Poppins, sans-serif;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
}

.container_testimonials {
    max-width: 1130px;
}

.button {
    background-color: $purple-color;
    padding: 2.4rem 4.2rem;
    color: $white-color;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}

// /. general-styles

.header {
    background-color: #888;
    background-image: url('../images/header-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    transition: all .2s ease-in-out;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 55px 0;
        transition: all .2s ease-in-out;
    }

    &__preview {
        padding: 100px 0;
    }

    &__information {
        margin-bottom: 40px;
    }

    &__subtitle {
        margin-bottom: 22px;
    }

    &__interaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        flex: 1 1 auto;
        margin: 0 20px;
    }

    &__phone {
        display: flex;
        align-items: center;

        span {
            color: $white-color;
            font-size: $font-size;
            font-weight: 400;
            line-height: 24px;
        }

        svg {
            margin-right: 10px;
        }
    }

    &__title {
        color: $white-color;
        font-size: 64px;
        line-height: 88px;
        font-weight: 700;
    }

    &__subtitle {
        color: $white-color;
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
    }

}

// /. header

.nav_mobile {
    display: flex;
    width: 100%;
    align-items: flex-start;
    position: fixed;
    opacity: 0;
    left: 0;
    top: -100%;
    z-index: 0;
    background-color: rgba($dark-color, .5);
    transition: all .3s ease 0s;
    width: 100%;
    min-height: 100vh;

    .nav__menu {
        flex: 1 1 auto;
        justify-content: flex-start;
        flex-direction: column;
        margin: 45px 20px;
        overflow-y: scroll;
        height: calc(100vh - 90px)
    }

    .nav__item {
        padding-bottom: 10px;
        max-width: 40%;

        &:not(:last-child) {
            margin: 0 0 20px 0;
            border-bottom: 1px solid $grey-color;
        }
    }
}

.nav_mobile.visible {
    top: 0;
    z-index: 2;
    opacity: 1;
}

.burger-menu {
    transition: all .2s ease-in-out;
    order: 2;
    display: none;
    width: 20px;
    height: 10px;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    margin: 20px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        background: $white-color;
        height: 1px;
        width: 100%;
        transition: all .3s ease 0s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    span {
        position: absolute;
        top: 5px;
        left: 0;
        background-color: $white-color;
        transition: all .3s ease 0s;
        width: 100%;
        height: 1px;
    }
}

.burger-menu_close {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px;

    span {
        transform: rotate(45deg);
        opacity: 0;
    }

    &::before {
        transform: rotate(45deg);
        top: 5px;
    }

    &::after {
        transform: rotate(-45deg);
        bottom: 5px;
    }
}

.burger-menu_close.hidden {
    opacity: 0;
}

.burger-menu.hidden {
    opacity: 0;
}

// /. nav_mobile

.logo {
    flex: 0 0 269px;
    height: 55px;
    overflow: hidden;

    &__image {
        object-fit: cover;
    }
}

// /. logo

.nav {
    &__menu {
        display: flex;
        justify-content: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 60px;
        }
    }

    &__link {
        color: $white-color;
        font-size: $font-size;
        font-weight: 500;
        line-height: 24px;
    }
}

// /. nav

.navigation {
    display: flex;

    &__item {
        width: 48px;
        height: 48px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid $white-color;

        &:not(:last-child) {
            margin-right: 25px;
        }
    }

    &__link {
        color: $white-color
    }
}

// /. navigation

.separator {
    display: flex;

    span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $gold-color;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
}

// /. separator

.timetable {
    margin: 80px 0 90px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
    }

    &__list {
        grid-column: 5 span;
    }

    &__restaurant-preview {
        grid-column: 7 span;
        display: flex;
        height: 630px;
        overflow: hidden;
        position: relative;
    }

    &__box {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 72%;
        height: 80%;
        border: 1px solid $gold-color;
    }

    &__image {
        width: 323px;
        height: 486px;
        overflow: hidden;
        position: relative;

        img {
            @include image-centered;
        }
    }

    &__image-btm {
        margin: auto 0 0 0;
        margin-right: 22px;
    }

    &__image-top {
        margin: 0 0 auto 0;
    }
}

.timetable-list {
    &__template {
        border-bottom: 1px solid $grey-color;
        padding: 20px 0;
    }

    &__description {
        display: flex;
        align-items: center;
    }

    &__date {
        margin-bottom: 10px;
    }

    .separator {
        margin: 0 12px;
    }
}

// /. timetable-list

.testimonials {
    background-color: $purple-color;

    &__wrapper {
        padding: 210px 0;
    }
}

.testimonial {
    text-align: center;

    svg {
        margin-bottom: 34px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 122px;
    }

    &__caption {
        font-size: 36px;
        line-height: 40px;
        font-weight: 600;
        color: $gold-color;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 675px;
        font-size: $font-size;
        line-height: 40px;
        font-weight: 400;
        color: $white-color;
        margin-bottom: 40px;
    }

    &__author {
        font-size: 24px;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 8px;
        color: $gold-color;
    }
}

// /. testimonial

.advantages {
    margin: 110px 0 80px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__template {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.advantage {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: space-between;
    grid-gap: 30px;

    &__text {
        grid-column: 5 span;
    }

    &__title {
        font-size: 40px;
        line-height: 88px;
        font-weight: 700;
        color: $dark-color;
        position: relative;
        margin-bottom: 25px;

        &::before {
            content: "";
            position: absolute;
            bottom: -5px;
            left: -50px;
            z-index: 2;
            height: 2px;
            width: 108px;
            background-color: $gold-color;
        }
    }

    &__description {
        font-size: $font-size;
        line-height: 32px;
        font-weight: 400;
        color: #808080;
    }

    &__image {
        grid-column: 7 span;
        position: relative;
        overflow: hidden;
        height: 560px;

        img {
            @include image-centered;
        }
    }
}

.advantage_reverse {
    .advantage__image {
        order: -1;
    }
}

// /. advantages

.gallery {
    margin-bottom: 100px;

    &__top {
        background-color: $purple-color;
        padding: 68px 0 393px 0;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        flex: 0 0 450px;
    }

    &__title {
        font-size: 48px;
        line-height: 88px;
        font-weight: 700;
        color: $white-color;
    }

    &__description {
        font-size: $font-size;
        line-height: 32px;
        font-weight: 400;
        color: $white-color;
    }

    &__slider {
        margin-top: -343px;

        .swiper-slide {
            overflow: hidden;
        }

        img {
            min-width: 970px;
            height: 646px;
            object-fit: cover;
        }
    }
}

// /. gallery 

.feedback {

    margin-bottom: 50px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-content: space-between;
        grid-gap: 96px;
    }

    &__title {
        font-size: 48px;
        line-height: 88px;
        font-weight: 700;
        color: $dark-color;
        margin-bottom: 35px;
    }

    &__contacts {
        grid-column: 5 span;
    }

    &__form {
        grid-column: 7 span;
    }
}

// /. feedback

.contacts {}

.contacts-list {

    &__template {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__icon {
        flex-shrink: 0;
        display: inline-block;
        width: 64px;
        height: 64px;
        overflow: hidden;
        border-radius: 50%;
        background-color: $gold-color;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
    }

    &__caption {
        font-size: $font-size;
        line-height: 32px;
        font-weight: 400;
        color: #2E2E2E;
        margin-bottom: 5px;
    }

    &__text {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        color: #2E2E2E;
    }
}

// /. contacts

.form {
    display: flex;
    flex-direction: column;

    &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        :not(:last-child) {
            margin-right: 20px;
        }
    }

    &__label {
        width: 100%;
    }

    &__label_message {
        margin-bottom: 20px;
    }

    &__label span {
        display: flex;
        font-size: $font-size;
        line-height: 32px;
        font-weight: 400;
        color: $dark-color;
    }

    &__input {
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #808080;
        border: 1px solid #CCCCCC;
        padding: 1.8rem 1rem;

        &::placeholder {
            font-size: $font-size;
            line-height: 24px;
            font-weight: 400;
            color: #808080;
        }
    }

    &__input_message {
        resize: none;
        height: 125px;
    }

    &__button {
        align-self: flex-start;
        min-width: 270px;
    }
}

// /. form

.map {
    margin-bottom: 43px;
}

// /. map

.footer {
    &__wrapper {
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        margin-right: 20px;
    }

    &__navigation {
        .navigation__item {
            border: 1px solid $dark-color;
        }

        .navigation__link {
            color: $dark-color
        }
    }
}

// /.footer

.modal {
    display: none;
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($dark-color, 0.55);

    &__wrapper {
        padding: 20px;
    }

    &__button {
        background-color: transparent;
        color: red;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        margin: 10px;
    }
}

.modal.visible {
    display: block;
}

// /. modal

.reserve-form {

    &__inputs {
        margin-bottom: 5px;

        :not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__selects {
        margin-bottom: 5px;

        :not(:last-child) {
            margin-bottom: 2.5px;
        }
    }

    &__label {
        color: $white-color;
        font-size: 14px;
        display: flex;
        flex-direction: column;

        span {
            margin-bottom: 2.5px;
        }
    }

    &__input {
        padding: .6rem .5rem;
    }

    &__select {
        padding: .15rem;
        width: 100%;
    }

    &__button {
        width: 100%;
        color: $white-color;
        padding: .5rem;
        background-color: $purple-color;
    }
}

// /. reserve-form